/* .noor{
    color: blue;
}
.big{
    font-size: 63px;
}
#headmaster{
    color: blueviolet
}

.default{
    text-align: center;
}


  */

/* 
.form-group{
    background-color: aqua;
    color: rgb(0, 255, 85);
    text-align: left;
    padding: 1cm;
} */


*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;    
}
body{
    background-color:rgb(255, 255, 255);
}

nav{
    background-color: var(--main-color);
    /* font-variant: small-caps; */
    color: white;
    padding: 10px;
}

.search-box{
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 0;
}

input{
    width: 60%;
    padding: 10px;
}

.products{
    text-align: center;
}

.box{
    text-align: center;
    border-width: 2px;
    border-color: rgb(219, 219, 219);
    border-style: solid;
    display: inline-block;
    width: 220px;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}

p.name-margin{
    margin-top: 0;
    margin-bottom: 0rem;
}

.font{
    font-weight: bold;

    /* text-align: center; */
}

.add-cart{
    text-align: right;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.button{
    text-align: center;
    margin: 30px 0px 30px 0px;
    
}

.right-nav{
    text-align: right;
}
h2{
    text-align: center;
    display: block;
    margin-bottom: 0;
}

.icon{
    text-align: center;
}

.btn-primary{
    btn-primary
    background: slategrey;
    border-color: black;
}


/* Login pages */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:rgb(2 0 28 / 77%);
    --box-shadow: 3px 3px 3px 3px rgb(142, 142, 142);
    --hover-shadow: 0px 4px 4px 0px rgb(10, 6, 17);
    --nav-shadow: 0px 0px 10px 0px rgb(160, 107, 252);
    --light-black: rgb(41, 0, 85);
}


.container{
    width: 28%;
    margin: 100px auto;
    border: 2px solid #e3e3e3;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 50px;
}


form{
    display: flex;
    flex-direction:column;
    margin: 30px 0;

}

form label{
    margin: 5px 0;

}

form input[type="text"]{
margin-top: 2px;
margin-bottom: 10px;
height: 40px;
border: 0.5px solid rgb(5, 0, 20);
border-radius: 3px;
padding: 0px 15px;
font-size: 17px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 100%;
}

form input[type="password"]{
margin-top: 2px;
margin-bottom: 15px;
height: 40px;
border: 0.5px solid rgb(5, 0, 20);
border-radius: 3px;
padding: 0px 15px;
font-size: 15px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 100%;
}

form a{
    margin: 10px 0;
    text-decoration: underline;
    color:var(--main-color);
    font-weight:bold;

}

form input[type="submit"]{
    height: 50px;
    background: var(--main-color);
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    border: none;
    border-radius:3px;
    color:white;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    width: 100%;

}
form input[type="submit"]:hover{
    box-shadow: 0;
}

.input-box-size{
    width: 110%;
}

.signup{
    text-align: center;
    font-size: medium;
}

.signup a{
    
    color: var(--main-color);
    margin: 10px;
    text-decoration: underline;
    font-size: 19px;
    text-align: center;
}
span{
    font-weight: bold;
}